.App, .AppNotTyped {
  transition: all 0.3s ease;
  background-color: #F4F9FF;
  color: #3A2424;
  font-size: 30px;
  padding: 40px 0;
  text-align: center; }
  @media only screen and (min-width: 601px) {
    .App, .AppNotTyped {
      padding: 60px 0; } }

.AppContent {
  margin-left: auto;
  margin-right: auto;
  width: 95%; }
  @media only screen and (min-width: 601px) {
    .AppContent {
      width: 90%; } }

.AppNotTyped {
  background-color: #3A2424;
  color: #F4F9FF; }
  .AppNotTyped .AppInput {
    border: 5px solid #F4F9FF; }
  .AppNotTyped .AppButton {
    border: 5px solid #00A0CC; }
    .AppNotTyped .AppButton:hover {
      border-color: #F4F9FF; }

.AppTitle {
  font-family: "Lobster", Helvetica, sans-serif;
  font-size: 40px;
  margin-bottom: 60px; }
  @media only screen and (min-width: 601px) {
    .AppTitle {
      font-size: 60px;
      margin-bottom: 40px; } }

.AppInput {
  transition: border 0.3s ease;
  font-family: "Lobster", Helvetica, sans-serif;
  background-color: #F4F9FF;
  border: 5px solid #3A2424;
  border-radius: 5px;
  color: #3A2424;
  padding: 20px;
  width: 80%; }
  .AppInput::placeholder {
    color: #B78686; }

.AppButtonContainer {
  display: flex;
  justify-content: center;
  margin: 60px 0; }
  @media only screen and (min-width: 601px) {
    .AppButtonContainer {
      margin: 40px 0; } }

.AppButton {
  transition: all 0.3s ease;
  background-color: #00A0CC;
  border: 5px solid #00A0CC;
  border-radius: 5px;
  color: #F4F9FF;
  display: block;
  font-family: "Lobster", Helvetica, sans-serif;
  padding: 20px; }
  .AppButton:hover {
    background-color: #F4F9FF;
    color: #00A0CC; }

.AppListUsers {
  margin-bottom: 20px; }
  .AppListUsers p {
    margin-bottom: 10px; }

.AppListUser {
  align-items: baseline;
  display: flex;
  justify-content: center; }

.AppOnline {
  background-color: #95FF87;
  border-radius: 10px;
  margin-right: 10px;
  height: 15px;
  width: 15px; }
