@import "globals.scss";

.App {
  @include transitions(all);
  background-color: $color-white;
  color: $color-chocolate;
  font-size: 30px;
  padding: 40px 0;
  text-align: center;

  @media #{$medium-and-up} {
    padding: 60px 0;
  }
}

.AppContent {
  @include default-wrapper-width();
}

.AppNotTyped {
  @extend .App;
  background-color: $color-chocolate;
  color: $color-white;

  .AppInput {
    border: 5px solid $color-white;
  }

  .AppButton {
    border: 5px solid $color-blue-sky;

    &:hover {
      border-color: $color-white;
    }
  }
}

.AppTitle {
  font-family: $title-font-family;
  font-size: 40px;
  margin-bottom: 60px;

  @media #{$medium-and-up} {
    font-size: 60px;
    margin-bottom: 40px;
  }
}

.AppInput {
  @include transitions(border);
  font-family: $title-font-family;
  background-color: $color-white;
  border: 5px solid $color-chocolate;
  border-radius: 5px;
  color: $color-chocolate;
  padding: 20px;
  width: 80%;

  &::placeholder {
    color: $color-milk-chocolate;
  }
}

.AppButtonContainer {
  display: flex;
  justify-content: center;
  margin: 60px 0;

  @media #{$medium-and-up} {
    margin: 40px 0;
  }
}

.AppButton {
  @include transitions(all);
  background-color: $color-blue-sky;
  border: 5px solid $color-blue-sky;
  border-radius: 5px;
  color: $color-white;
  display: block;
  font-family: $title-font-family;
  padding: 20px;

  &:hover {
    background-color: $color-white;
    color: $color-blue-sky;
  }
}

.AppListUsers {
  margin-bottom: 20px;

  p {
    margin-bottom: 10px;
  }
}

.AppListUser {
  align-items: baseline;
  display: flex;
  justify-content: center;
}

.AppOnline {
  @include online();
}
