@import "globals.scss";

.UserLayout {
  // this should be part of a different Component called BoardLayout which sole purpuse would
  // have been to deal with the rendering of the SidebarContainer and UserContainer
  display: flex;
}

.UserCol1 {
  background-color: $color-milk-chocolate;
  width: 30%;
}

.UserContent {
  @include default-wrapper-width();
  padding: 40px 0;
  width: 70%;

  @media #{$medium-and-up} {
    padding: 60px 0;
  }
}

.UserTitle {
  color: $color-chocolate;
  font-family: $title-font-family;
  font-size: 40px;
  margin-bottom: 60px;
  text-align: center;
  text-transform: capitalize;

  @media #{$medium-and-up} {
    font-size: 60px;
    margin-bottom: 40px;
  }
}

.UserBoard {
  display: flex;
  flex-wrap: wrap;
}
