.UserContent {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding: 40px 0; }
  @media only screen and (min-width: 601px) {
    .UserContent {
      width: 90%; } }
  @media only screen and (min-width: 601px) {
    .UserContent {
      padding: 60px 0; } }

.UserTitle {
  color: #3A2424;
  font-family: "Lobster", Helvetica, sans-serif;
  font-size: 40px;
  margin-bottom: 60px;
  text-align: center; }
  @media only screen and (min-width: 601px) {
    .UserTitle {
      font-size: 60px;
      margin-bottom: 40px; } }

.UserBoard {
  display: flex;
  flex-wrap: wrap; }
