@import "globals.scss";

.Header {
  color: $color-blue-sky;
  background-color: $color-white;
  font-family: $title-font-family;
  border-bottom: 5px solid $color-milk-chocolate;
}

.HeaderContent {
  @include default-wrapper-width();
  align-items: center;
  display: flex;
  height: 80px;
}

.HeaderLogo {
  height: 56px;
  transform: rotate(72deg);
  width: 56px;
}

.HeaderTitle {
  font-size: 40px;
  margin-left: 30px;
}
