@import "globals.scss";

.Footer {
  background-color: $color-milk-chocolate;
  border-top: 5px solid $color-blue-sky;
  color: $color-white;
  font-family: $title-font-family;
  font-size: 30px;
}

.FooterContent {
  @include default-wrapper-width();
  align-items: center;
  display: flex;
  height: 80px;
}
